@import "global.css";
/* подключаем хэдер, рессет и шрифты */
body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-size: 21px;
}
#overleap{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
#bound-one{
  /* background-image: url(images/floatt.gif); */
  /* width: 100%; */
  height: 300vh;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s; */
}
.content{
  height: 100vh;
  width: 100%;
  position: sticky;
  top:0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.wow.transition{
  opacity: 0;
}
.wow1{
  background-image: linear-gradient(blue, yellow, red);
  width: 100%;
  height: 130vh;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  transition: all 0.4s;
}
.wow1.transition{
  opacity: 0;
}
.wow2{
  background-image: linear-gradient(blue, yellow, red);
  width: 100%;
  position: sticky;
  top:0;
  height: 130vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  transition: all 0.4s;
}
.wow2.transition{
  opacity: 0;
}
.wow3{
  /* background-image: linear-gradient(blue, yellow, red); */
  width: 100%;
  height: 130vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  transition: all 1s;
}

#lol{
  position: sticky;
  margin-left: 30px;
  top: 50vh;
  font-family: 'Suisse Regular';
  font-size: 32px;
  color: white;
}
#start{
  grid-column: 1;
  grid-row: 1;
}
