@import "reset.css";
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

header{
  display: flex;
  /*grid-template-columns: repeat( 10, 1fr);
  grid-template-rows: 1fr; */
  width: 100%;
  height: 60px;
  background-color: black;
  z-index: 999;
  align-items: center;
  justify-content: center;
}
nav{
  width: 90%;
  display: grid;
  grid-template-columns: repeat( 10, 1fr);
  grid-template-columns: repeat( 10, minmax(130px, 1fr));
  grid-template-rows: 1fr;
  height: 100%;
  align-items: center;
  justify-items: center;
}

header p{
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
  transition: color 0.2s;
}
header p:hover{
  text-decoration-line: line-through;
  color: #8E8E8E;
  cursor: pointer;
}
#Affiche{
  grid-column: 7;
}
#logo{
  font-size: 38px;
  font-family: 'GT Sectra Display Trial';
}
.poster{
  position:absolute;
  width: 400px;
  height: 400px;
  bottom: -500px;
  z-index: -10;
}
.poster img{
  z-index: -10;
  transform: scale(1.5);
}
