@import "reset.css";
body{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
header{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  /* grid-template-columns: repeat( 10, 1fr);
  grid-template-rows: 1fr; */
  width: 100%;
  height: 60px;
  background-color: black;
  align-items: center;
  justify-content: center;
}
nav{
  width: 90%;
  display: grid;
  grid-template-columns: repeat( 10, 1fr);
  grid-template-columns: repeat( 10, minmax(130px, 1fr));
  grid-template-rows: 1fr;
  height: 100%;
  align-items: center;
  justify-items: center;
}
header p{
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
  transition: color 0.2s;
}
header p:hover{
  text-decoration-line: line-through;
  color: #8E8E8E;
  cursor: pointer;
}
#Affiche{
  grid-column: 7;
}
#logo{
  font-size: 38px;
  font-family: 'GT Sectra Display Trial';
}
main{
  pointer-events: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#lines{
  grid-column: 1;
  grid-row: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#lines > img{
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: fill;
  z-index: 999;
  filter: blur(2px);
}
.container {
  pointer-events: none;
  grid-column: 1;
  grid-row: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("images/MainImages/MainImg0.png"); */
  /* background-color: deeppink; */
  height: 750px;
  width: 1400px;
  position: absolute;
}
