@import "global.css";
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}
.grid{
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 100%;
}
.box{
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  height: 100%;
  /* transition: all 1s; */
}
/* .box:hover{
  transform-origin: top left;
  transform: scale(2);
}
.box1:hover{
  transform-origin: bottom left;
  transform: scale(2)
}
.box2:hover{
  transform-origin: bottom right;
} */
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.orange{
  background-color: orange;
}
.white{
  background-color: white;
}
.green{
  background-color: yellow;
}
.purple{
  background-color: purple;
}
.yellow{
  background-color: green;
}
.cyan{
  background-color: cyan;
}
